body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a, a:visited, a:focus, a:active {
	color: black;
}

a:hover {
	color: lightgrey;
}

.a--discreet, .a--discreet:visited, .a--discreet:focus, .a--discreet:active  {
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.a--discreet:hover {
	text-decoration: none;
	color: inherit;
	outline: 0;
	cursor: pointer;
}

.monospace {
	font-family: monospace, monospace;
}

.initially-hidden {
	display: none; 
}

.album {
	color: black;
	padding: 0.5em;
	border-radius: 12px;
	background: coral;
	margin-bottom: 1em;
	display: inline-block;
}

.album h2 {
	margin: 0.1em;
}

.album form {
	display: inline;
}

.album__tokens {
	padding: 0.5em;
	border-radius: 12px;
	background: indianred;
	margin-top: 1em;
	margin-bottom: 1em;
}

.album__tokens h3 {
	margin-top: 0;
	margin-bottom: 0.25em;
}

.album__tokens__list {
	margin-bottom: 0.5em;
}

#progress {
	position: fixed;
	top: 0;
	right: 0;
	background-color: lightblue;
	padding: 0.5em;
	margin: 1em;
	border-radius: 12px;
}

#progress h3 {
	margin: 0;
}

#progress p {
	margin: 0;
}
