body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a, a:visited, a:focus, a:active {
	color: lightblue;
}

a:hover {
	color: cornflowerblue;
}

.a--discreet, .a--discreet:visited, .a--discreet:focus, .a--discreet:active  {
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.a--discreet:hover {
	text-decoration: none;
	color: inherit;
	outline: 0;
	cursor: pointer;
}

.a--navigation, .a--navigation:visited, .a--navigation:focus, .a--navigation:active  {
	color: white;
}

.a--navigation:hover {
	color: cornflowerblue;
}

.a--edit, .a--edit:visited, .a--edit:focus, .a--edit:active  {
	color: blue;
}

.a--edit:hover {
	color: cornflowerblue;
}

.initially-hidden {
	display: none;
}

#toolbar {
	margin-bottom: 1em;
}

#album {
	display: grid;
	width: 100%;
	grid-gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
}

.album-entry {
	margin: 0;
	border: 1px solid lightgrey;
	border-radius: 12px;
	background: lightgrey;
	width: 140px;
	height: 168px;
	padding: 4px;
	overflow: auto;
}

.album-entry main {
	margin: auto;
	text-align: center;
	width: 128px;
	line-height: 10px;
}

.album-entry header {
	display: inline-block;
	font-size: 8px;
	text-align: left;
	width: 100%;
}

.album-entry figcaption {
	font-size: 12px;
}

.album-entry main > a {
	display: inline-block;
	text-align: left;
}

.album-entry__frame {
	display: table-cell;
	vertical-align:middle;
	text-align:center;
	background: white;
	width: 128px;
	height: 128px;
	line-height: 0px;
}

#display-window {
	--toolbar-height: 2em;
	position: fixed;
	left: 10vh;
	top: 10vh;
	right: 10vh;
	bottom: 10vh;
	padding: 1em;
	background-color: rgba(0.5, 0.5, 0.5, 0.8);
	border-radius: 12px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#display-window main {
	width: 100%;
	height: calc(100% - var(--toolbar-height));
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#display-window footer {
	height: var(--toolbar-height);
	text-align: center;
	flex: 0 0 auto;
}

#display-window figcaption {
	color: white;
}

.display-window__button-close {
	font-size: 60px;
	position: fixed;
	top: 10vh;
	right: 10vh;
}

.display-window__button-next {
	padding: 1vh;
	vertical-align: middle;
	color: white;
	font-size: 60px;
	flex: 0 0 auto;
}

.display-window__button-previous {
	padding: 1vh;
	vertical-align: middle;
	color: white;
	font-size: 60px;
	flex: 0 0 auto;
}

#display-window figure {
	width: 100%;
	height: 100%;
	margin: 0;
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#display-window video {
	max-width: 100%;
	max-height: 100%;
	flex: 1 1 0;
	object-fit: contain;
}

#display-window img {
	max-width: 100%;
	max-height: 100%;
	image-orientation: from-image;
	flex: 1 1 0;
	object-fit: contain;
}
