.loader {
	display: inline-block;
	border: 0.2em solid #f3f3f3; /* Light grey */
	border-top: 0.2em solid #3498db; /* Blue */
	border-radius: 50%;
	width: 1em;
	height: 1em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
