#messages {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2em;
}

#messages div {
	background-color: lightgrey;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 12px;
}

#messages .success {
	background-color: lightblue;
}

#messages .error {
	background-color: lightcoral;
}
