<tr class="album__tokens__list__token">
	<td>
		<tt><a href="/album/{{ album.name }}/{{ token }}">{{ token }}</a></tt>
	</td>
	<td>
		<label>tags: <input type="text" name="tags_{{ token }}" value="{{ album.meta.access_tokens[token] | join(' ') }}" /></label>
	</td>
	<td>
		<button onclick="return deleteToken(this, '{{ album.name }}', '{{ token }}')">Delete Token</button>
	</td>
</tr>