<p><a href="/admin/album/{{ album.name }}">Manage Entries</a></p>
{% if album.meta.title %}
<form action="" method="post" onsubmit="return false">
	<table>
		<tr>
			<label>
				<td>Title:</td>
				<td><input type="text" name="title" value="{{ album.meta.title }}" /></td>
			</label>
		</tr>
		<tr>
			<label>
				<td>Timezone:</td>
				<td><input type="text" name="timezone" value="{{ album.meta.timezone }}" /></td>
			</label>
		</tr>
	</table>
	<section class="album__tokens">
		<h3>Access Tokens</h3>
		<table class="album__tokens__list">
			{% for token in album.meta.access_tokens %}
			{% include 'admin_album_meta_token.html' %}
			{% endfor %}
		</table>
		<button onclick="return createToken(this, '{{ album.name }}');">Create Token</button>
	</section>
	<input type="reset" name="reset" value="Reset" /> 
	<button onclick="return saveAlbum(this, '{{ album.name }}');">Save</button>
</form>
<button onclick="return indexAlbum(this, '{{ album.name }}');">Index</button>
{% endif %}