<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Album Admin</title>

  <link rel="stylesheet" href="/static/admin.css?v=1.0">
  <link rel="stylesheet" href="/static/flash_messaging.css?v=1.0">
</head>

<body>
	{% for album in albums %}
	<section>
		<article class="album">
				<h2><a class="a--discreet" onclick="return toggleAlbumExpand(this);"><span class="monospace">+</span> {{ album.name }}</a></h2>
				<main class="initially-hidden">
					{% include 'admin_album_meta.html' %}
				</main>
		</article>
	</section>
	{% endfor %}

	<section id="progress" class="initially-hidden"></section>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	{% include 'flash_messaging.html' %}
	<script>
		var albumMetaLayout = [{{ albums|map(attribute='name')|map('tojson')|join(', ') }}];
		var indexingTasks = [];
	
		$(window).on('load', function() {
			source = new EventSource('/admin/progress');
			source.onmessage = function(e) {
				var message = JSON.parse(e.data);

				// Show current indexing progress.
				var activeTaskInfo = '<h3>Indexing Progress</h3>\n';
				var activeTasks = [];
				for (var i in message) {
					activeTasks.push(message[i].album_name);
					activeTaskInfo += '<p>' + message[i].album_name + ': <span class="monospace">' + message[i].progress + '/' + message[i].work_units + '</span></p>\n';
				}
				$('#progress').toggle(activeTasks.length > 0);
				$('#progress').html(activeTaskInfo);

				// Show messages about completed indexing tasks.
				var i = indexingTasks.length - 1;
				while (i >= 0) {
					if ($.inArray(indexingTasks[i].name, activeTasks) < 0) {
						updateAlbum(indexingTasks[i].albumMetaObject, indexingTasks[i].name);
						flashMessage('Finished indexing "' + indexingTasks[i].name + '"!', 'success');
						indexingTasks.splice(i, 1)
					}
					i--;
				}
			};
		});

		function toggleAlbumExpand(object) {
			var albumMetaObject = $(object).closest('.album').find('main');
			albumMetaObject.toggle();
			if (albumMetaObject.is(":visible"))
				$(object).find('.monospace').text('-');
			else
				$(object).find('.monospace').text('+');
		}

		function indexAlbum(object, name) {
			indexingTasks.push({name: name, albumMetaObject: $(object).closest('.album__meta')});
			var request = $.post('/admin', {album: name, action: 'index'});
			request.done(function() {
				flashMessage('Indexing album "' + name + '".', 'success');
			});
			request.fail(function(jqXHR, textStatus, errorThrown) {
				flashMessage('Unable to index album "' + name + '". Received error: ' + errorThrown, 'error');
			});
		}

		function updateAlbum(albumMetaObject, name) {
			var index = $.inArray(name, albumMetaLayout);
			if (index >= 0) {
				var request = $.get('/admin/album_meta', {name: name});
				request.done(function(data) {
					albumMetaObject.html(data);
				});
			}
		}

		function saveAlbum(object, name) {
			var form = $(object).closest('form');
			var parameters = {
				action: 'save',
				album: name,
				title: form.find('input[name=title]').val(),
				timezone: form.find('input[name=timezone]').val(),
			};
			form.find('input[name^=tags_]').each(function(index, value) {
				parameters[value.name] = value.value;
			});
		
			var request = $.post('/admin', parameters);
			request.done(function(data) {
				var response = JSON.parse(data);
				if (response.success) {
					flashMessage('Settings for album "' + name + '" have been saved.', 'success');
				} else {
					flashMessage('Settings for album "' + name + '" have been saved, however one or more settings are not valid. Received error: ' + response.message, 'error');
				}
			});
			request.fail(function(jqXHR, textStatus, errorThrown) {
				flashMessage('Unable to save settings for album "' + name + '". Received error: ' + errorThrown, 'error');
			});

			return false;
		}

		function createToken(object, albumName) {
			var createRequest = $.post('/admin', {action: 'create_token', album: albumName});
			createRequest.done(function(createData) {
				var createResponse = JSON.parse(createData);
				var getRequest = $.get('/admin/album_meta_token', {album: albumName, token: createResponse.token});
				getRequest.done(function(getData) {
					$(object).siblings('.album__meta__tokens__list').append(getData);
				});
				flashMessage('Created token "' + createResponse.token + '".', 'success');
			});
			createRequest.fail(function(jqXHR, textStatus, errorThrown) {
				flashMessage('Unable to create token for album "' + albumName + '". Received error: ' + errorThrown, 'error');
			});
		return false;
		}

		function deleteToken(object, albumName, token) {
			var request = $.post('/admin', {action: 'delete_token', album: albumName, token: token});
			request.done(function() {
				$(object).closest('.album__meta__tokens__list__token').remove();
				flashMessage('Deleted token "' + token + '".', 'success');
			});
			request.fail(function(jqXHR, textStatus, errorThrown) {
				flashMessage('Unable to delete token "' + token + '". Received error: ' + errorThrown, 'error');
			});

			return false;
		}
  </script>
</body>
</html>