<figure class="album-entry {{ entry.group }}">
	<main>
		{% if entry.last_modified %}
		<header>
			{{ path|icon_for_filetype }}
			{{ entry.timestamp }}
			{% if admin %}
			<a href="#" class="a--discreet a--edit" onclick="return editItem(this, '{{ path }}', {{ entry }});">✎</a>
			<div class="loader initially-hidden"></div>
			<span class="status initially-hidden"></span>
			{% endif %}
		</header>
		{% endif %}
		{% if admin %}
		<a href="/admin/view/{{ name }}/{{ path }}" class="album__inner__ a--discreet" onclick="return displayItem(this, '/admin/view/{{ name }}/{{ path }}', {{ entry }});">
		{% else %}
		<a href="/view/{{ name }}/{{ token }}/{{ path }}" class="a--discreet" onclick="return displayItem(this, '/view/{{ name }}/{{ token }}/{{ path }}', {{ entry }});">
		{% endif %}
			<div class="album-entry__frame">
				{% if admin %}
				<img src="/admin/thumb/{{ name }}/{{ path }}" />
				{% else %}
				<img src="/thumb/{{ name }}/{{ token }}/{{ path }}" />
				{% endif %}
			</div>
		</a>
	</main>
	{% if entry.caption %}<figcaption>{{ entry.caption }}</figcaption>{% endif %}
</figure>