<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Album</title>

	<link rel="stylesheet" href="/static/album.css?v=1.0">
	<link rel="stylesheet" href="/static/flash_messaging.css?v=1.0">
	{% if admin %}
	<link rel="stylesheet" href="/static/album_admin.css?v=1.0">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	{% endif %}
</head>

<body>
	<h1>{{ album.title }}</h1>
	{% if admin %}
	<section id="edit-dialog" class="initially-hidden" title="Edit">
		<table>
			<tr>
				<label>
					<td>Caption:</td>
					<td><input type="text" name="caption" value=""></td>
				</label>
			</tr>
			<tr>
				<label>
					<td>Visibility tags:</td>
					<td><input type="text" name="visibility_tags" value=""></td>
				</label>
			</tr>
			<tr>
				<label>
					<td>Timezone:</td>
					<td><input type="text" name="timezone" value=""></td>
				</label>
			</tr>
		</table>
	</section>
	{% endif %}

	<nav id="toolbar">
		Filter by day:
		<button type="button" id="prev">Previous</button>
		<select id="filter">
			<option id="filter-none" selected="selected">Show All</option>
			{% for group in groups %}
			<option>{{ group }}</option>
			{% endfor %}
		</select>
		<button type="button" id="next">Next</button>
	</nav>

	<section id="album">
	{% for path in album.layout %}
		{% set entry = album.entries[path] %}
		{% include 'album_entry.html' %}
	{% endfor %}
	</section>

	<section id="display-window" class="initially-hidden" style="display: none;">
		<a href="#" class="display-window__button-close a--discreet a--navigation" onclick="$('#display-window').hide(); return false;">🞫</a>
		<main>
			<a href="#" class="display-window__button-previous a--discreet a--navigation" onclick="return displaySibling(-1);">⮘</a>
			<figure></figure>
			<a href="#" class="display-window__button-next a--discreet a--navigation" onclick="return displaySibling(1);">⮚</a>
		</main>
		<footer>
			<figcaption></figcaption>
			<a id="display-window__view-full" href="#">View Full</a>
		</footer>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	{% include 'flash_messaging.html' %}
	{% if admin %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	{% endif %}
	<script>
		$(window).on("pageshow", function(event){
			$("#filter :selected").change();
		});

		$("#next, #prev").click(function() {
			$("#filter :selected")[this.id]().prop("selected", true).change();
		});

		$('#filter').change(function() {
			if ($(this).children(':selected').attr('id') == 'filter-none') {
				$('#album > figure').show();
			} else {
				$('#album > figure').hide();
				$('#album > figure.' +  this.value).show();
			}
		});

		function displayItem(object, path, entry) {
			if (window.innerWidth < 400)
				return true;

			var contents = '';
			if (entry.mime_type.startsWith('video/'))
				contents = '<video controls><source src="' + path + '" type="' + entry.mime_type + '"></video>';
			else
				contents = '<img src="' + path + '" alt="Album image.">';
			var displayWindowObject = $('#display-window');
			displayWindowObject.data('object', $(object).closest('figure'));
			displayWindowObject.find('figure').html(contents);

			var displayWindowCaptionObject = displayWindowObject.find('figcaption');
			if ('caption' in entry) {
				displayWindowCaptionObject.text(entry.caption);
				displayWindowCaptionObject.show();
			} else {
				displayWindowCaptionObject.hide();
			}

			$('#display-window__view-full').attr('href', path);

			displayWindowObject.show();

			return false;
		}

		function displaySibling(relativePosition) {
			var displayWindowObject = $('#display-window');
			var object = displayWindowObject.data('object');
			while (relativePosition != 0) {
				if (relativePosition > 0) {
					object = object.next('figure');
					relativePosition--;
				} else {
					object = object.prev('figure');
					relativePosition++;
				}
			}
			object.find('main > a').trigger('click');

			return false;
		}

		{% if admin %}
		function editItem(object, path, entry) {
			$('#edit-dialog input[name=caption]').val(entry.caption)
			$('#edit-dialog input[name=visibility_tags]').val(entry.visibility_tags)
			$('#edit-dialog input[name=timezone]').val(entry.timezone)
			$('#edit-dialog').data('object', object).dialog({
				buttons: {
					'Save': function() {
						$(this).dialog('close');
						var object = $(this).data('object');
						$(object).siblings('.status').hide()
						$(object).siblings('.loader').show()
						var saveRequest = $.ajax({
							type: 'POST',
							data: {
								path: path,
								caption: $('input[name=caption]', $(this)).val(),
								visibility_tags: $('input[name=visibility_tags]', $(this)).val(),
								timezone: $('input[name=timezone]', $(this)).val()
							}
						});
						saveRequest.done(function(saveData) {
							var saveResponse = JSON.parse(saveData);
							var refreshRequest = $.get('/admin/album_entry', {name: '{{ name }}', path: path});
							refreshRequest.done(function(refreshData) {
								var refreshResponse = JSON.parse(refreshData);

								// Replace the entry settings for scripts.
								entry.caption = refreshResponse.entry.caption;
								entry.visibility_tags = refreshResponse.entry.visibility_tags;
								entry.timezone = refreshResponse.entry.timezone;

								// Replace the HTML for the entry presentation.
								var newContents = $(refreshResponse.html);
								$(object).closest('figure').replaceWith(newContents);
								newContents.find('.loader').hide();

								// Show the per-entry modification status.
								if (saveResponse.success)
									newContents.find('.status').text('✔').css({'color': 'green'}).show();
								else
									newContents.find('.status').text('✖').css({'color': 'red'}).show();
							});
							if (!saveResponse.success)
								flashMessage('Settings for entry have been saved, however one or more settings are not valid. Received error: ' + saveResponse.message, 'error');
						});
						saveRequest.fail(function(jqXHR, textStatus, errorThrown) {
							$(object).siblings('.loader').hide();
							$(object).siblings('.status').text('✖').css({'color': 'red'}).show();
							flashMessage('Unable to update entry. Received error: ' + errorThrown, 'error');
						});
					}
				}
			});
			return false;
		}

		$(function() {
			$('.loader').hide();
		});
		{% endif %}
	</script>
</body>
</html>