<section id="messages"></section>

<script>
	function flashMessage(message, messageClass) {
		var messageObject = $('<div class="' + messageClass + '">' + message + '</div>')
		messageObject.appendTo('#messages');
		messageObject.hide().fadeIn(500).delay(5000).fadeOut(500, function() {
			$(this).remove();
		});
	}
</script>